<h1>Group 38 Project Proposal: Determining the Connection Between Country Wealth and Tuberculosis Mortality <h1>
    
<img src="images/TB_img.jpg" alt="Tuberculosis under EM Microscope" width = "1000"/>
    
<font size="2"> <i>image attribution</i>: NIAID Mycobacterium tuberculosis Bacteria, the Cause of TB, CC BY 2.0 <https://creativecommons.org/licenses/by/4.0>, via Flickr at <https://www.flickr.com/photos/niaid/51637606937/in/photostream/> </font>

<h3>Introduction</h3>
<hr>

*Total Word Count:* ---

<h3>Preliminary Results</h3>
<hr>

In [1]:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)
options(repr.matrix.max.rows = 6)
options(repr.matrix.max.cols = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

For this investigation, we use two datasets: the **World Health Orginization (WHO)** Tuberculosis Mortality dataset, and the **OECD** GDP by country dataset.

We begin with the **WHO** dataset, which we'll wrangle into tidy data before encorperating the **OECD** GDP data.

In [2]:
# URL of the WHO dataset csv file
tb_url <- "https://apps.who.int/gho/athena/data/data-verbose.csv?target=GHO/MDG_0000000017,TB_e_mort_exc_tbhiv_num&profile=verbose&filter=COUNTRY:*;REGION:SEAR;&ead="

# Reading this csv file into a dataframe
tb_df <- read.csv(tb_url)

tb_df

    GHO..CODE.
1   TB_e_mort_exc_tbhiv_num
2   TB_e_mort_exc_tbhiv_num
3   TB_e_mort_exc_tbhiv_num
⋮   ⋮
434 MDG_0000000017
435 MDG_0000000017
436 MDG_0000000017
    GHO..DISPLAY.
1   Number of deaths due to tuberculosis, excluding HIV
2   Number of deaths due to tuberculosis, excluding HIV
3   Number of deaths due to tuberculosis, excluding HIV
⋮   ⋮
434 Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
435 Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
436 Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
    GHO..URL.                                                                 ⋯
1   https://www.who.int/data/gho/indicator-metadata-registry/imr-details/1425 ⋯
2   https://www.who.int/data/gho/indicator-metadata-registry/imr-details/1425 ⋯
3   https://www.who.int/data/gho/indicator-metadata-registry/imr-details/1425 ⋯
⋮   ⋮                                                                         ⋱
434 https://www.who.int/data/gho/indicator-metadata-registry/imr-details/17   ⋯
435 https://www.who.int/data/gho/indicator-metadata-registry/imr-details/17   ⋯
436 https://www.who.int/data/gho/indicator-metadata-registry/imr-details/17   ⋯
    StdErr StdDev Comments
1   NA     NA     NA
2   NA     NA     NA
3   NA     NA     NA
⋮   ⋮      ⋮      ⋮
434 NA     NA     NA
435 NA     NA     NA
436 NA     NA     NA

As of now, however, this dataset is unsorted, too large, and filled with uneccessary metadata. We fix this with a series of operations to wrangle our data into tidy format with three columns: *Country*, *Year*, and *Number of Deaths due to TB*

In [3]:
# The current columns are difficult to reference due to their spaces. We use make.names here to make them referenceable
colnames(tb_df) <- make.names(colnames(tb_df))

tb_df <- tb_df %>%
    select(YEAR..CODE., COUNTRY..DISPLAY., Numeric) %>%
    rename("Year" = "YEAR..CODE.", "Country" = "COUNTRY..DISPLAY.", "Number_of_Deaths_due_to_TB" = "Numeric")

tb_df

    Year Country     Number_of_Deaths_due_to_TB
1   2015 Bangladesh  66000
2   2015 Bhutan        130
3   2015 Indonesia   97000
⋮   ⋮    ⋮           ⋮
434 2012 Timor-Leste 78
435 2013 Timor-Leste 84
436 2014 Timor-Leste 90

In [4]:
gdp_url <- "https://stats.oecd.org/sdmx-json/data/DP_LIVE/.GDP.TOT.USD_CAP.A/OECD?contentType=csv&detail=code&separator=comma&csv-lang=en&startPeriod=2000&endPeriod=2021"

df

function (x, df1, df2, ncp, log = FALSE)
{
    if (missing(ncp))
        .Call(C_df, x, df1, df2, log)
    else .Call(C_dnf, x, df1, df2, ncp, log)
}
<bytecode: 0x55aa62dcc400>
<environment: namespace:stats>

<h3>Methods: Plan</h3>
<hr>

<h3>References</h3>
<hr>